{%extends "registration/base.html"%} 
{% load bootstrap4 %}
{% block content %}

<div class="hero-image" style="margin-bottom:40px;">
  <div class="hero-text" style="padding: 100px;">
   
    <h3 class="text-center" style="color:white;font-weight:bold;padding-top:20px">Sign Up</h3><hr>
    {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
    {% endif %} 
    <form  action="/accounts/register/" method="post" style="padding: 40px;">
      {% csrf_token %}

      {% bootstrap_form form %}
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="SignUp">
      </div>
    </form>
  
  </div>
</div>


{% endblock %}